{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Block content html.

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * has_course_stats
}}
<div class="block_coursesentiment-content-container container">
{{#has_course_stats}}
    {{#courses}}
        <div class="row align-items-center">
            <div class="col block_coursesentiment-col">
                {{#imageurl}}
                    <img src="{{imageurl}}" alt="{{fullname}}" class="img-fluid" />
                {{/imageurl}}
            </div>
            <div class="col-3 block_coursesentiment-col">
                <a href="{{courseurl}}" target="_blank">{{fullname}}</a>
            </div>
            <div class="col-8 block_coursesentiment-col">
                <div class="line-progress">
                    <div class="block_coursesentiment-progresspart positives" style="width: {{positivespercent}}%"></div>
                    <div class="block_coursesentiment-progresspart negatives" style="width: {{negativespercent}}%"></div>
                    <div class="block_coursesentiment-progresspart neutral" style="width: {{neutralpercent}}%"></div>
                    <div class="block_coursesentiment-progresspart mixed" style="width: {{mixedpercent}}%"></div>
                </div>
            </div>
        </div>
        <div class="block_coursesentiment-separator">
        </div>
   {{/courses}}

{{/has_course_stats}}
{{^has_course_stats}}
    <p>{{#str}}therearenodatatoshow, block_coursesentiment{{/str}}</p>
{{/has_course_stats}}

</div>